<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
          <article>
            <h1>Project Overview</h1>
            <h2>eBird local sightings using the API and AngularJS</h2>

            <p>Using the <a href="https://confluence.cornell.edu/display/CLOISAPI/eBird+API+1.1">eBird API</a> and developing with <a href="https://angularjs.org/">AngularJS</a> and the skeleton project: <a href="https://github.com/angular/angular-seed">AngularJS Seed Project</a>. The <a href="http://angular-ui.github.io/bootstrap/">Typeahead</a> directive for the locations are currently hard coded json.</p>

<pre>{"name": "Greenwich", "lat": 41.0688, "lng": -73.64}, {"name": "Norwalk", "lat": 41.109, "lng": -73.427}, {"name": "Westport", "lat": 41.132, "lng": -73.342}, {"name": "Fairfield", "lat": 41.174, "lng": -73.278}, {"name": "Bridgeport", "lat": 41.19, "lng": -73.20}, {"name": "Stratford", "lat": 41.20, "lng": -73.125}, {"name": "Milford", "lat": 41.22, "lng": -73.05}, {"name": "Madison", "lat": 41.34, "lng": -72.61}, {"name": "New London", "lat": 41.34, "lng": -72.105}
</pre>

            <p>This project is in development by <a href="http://mikecarretta.github.io/">Mike Carretta</a>.</p>

            <p>Clone the angular-seed repository using <a href="http://git-scm.com/">git</a>:</p>

            <p><code>
            git clone https://github.com/angular/angular-seed.git
            cd angular-seed
            </code></p>

            <p>Follow the README.md instructions in the Angular Seed App to get all the npm and bower dependencies.</p>

          </article>
        </div>
    </div>
  </div>
</section>