<section class="about">
  <article>
    <h1>Project Overview</h1>
    <h2>eBird local sightings using the API and AngularJS</h2>

    <p>Using the <a href="https://confluence.cornell.edu/display/CLOISAPI/eBird+API+1.1">eBird API</a> and developing with <a href="https://angularjs.org/">AngularJS</a> and started with the skeleton project: <a href="https://github.com/angular/angular-seed">AngularJS Seed Project</a>. The eBird location is currently hard coded to Stratford, Connecticut. I will be creating a search field to find locations.</p>

    <p>This project is in development by <a href="http://mikecarretta.github.io/">Mike Carretta</a>.</p>

    <p>Clone the angular-seed repository using <a href="http://git-scm.com/">git</a>:</p>

    <p><code>
    git clone https://github.com/angular/angular-seed.git
    cd angular-seed
    </code></p>

    <p>Follow the README.md instructions in the Angular Seed App to get all the npm and bower dependencies.</p>

  </article>
</section>